* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    background-color: #000;
    color: #eee;
    display: grid;
    place-content: center;
}

h1 {
    max-width: 100vw;
    text-shadow: 5px 5px 7px #ccc

}
